/* remove border and padding on a.progressive */
a.progressive {
  border: none;
  padding: 0;
}

@media screen and (max-width: 799px) {
  a.progressive {
    max-width: 101vw; /* Full bleed look */
    /* margin-left: -1.5%; OBSOLETE Remove the LEFT table wrapper inner borderto create full bleed look */
  }
}

a.progressive:hover {
  background: transparent;
}

/* progressive image CSS */
.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

.progressive img {
  display: block;
  /* width: 100%; DEL as limit loaded img width */
  max-width: none;
  height: auto;
  border: 0 none;
}

.progressive img.preview {
  filter: blur(2vw);
  transform: scale(1.03);
}

.progressive img.preview.w {
  filter: blur(2vw);
  transform: scale(1.03);
  width: 600px; /* $entry-w */
  /* height: auto; OBSOLETE */
}

@media screen and (max-width: 799px) {
  .progressive img.preview.w {
    width: 101vw !important; /* Magnify img to cover the RIGHT to create full bleed look */
    height: auto; /* Clear $entry-h inheritable from deskop */
    max-height: none;
    max-width: 100%; /* OBSOLETE NO 103% Magnify img to cover the RIGHT to create full bleed look */
    margin-left: -1.5%; /* Remove the LEFT table wrapper inner borderto create full bleed look */
  }
}

.progressive img.preview.h {
  filter: blur(2vw);
  transform: scale(1.03);
  height: 600px; /* $entry-h */
  /* width: auto; OBSOLETE */
}

@media screen and (max-width: 799px) {
  .progressive img.preview.h {
    width: 101vw !important; /* Magnify img to cover the RIGHT to create full bleed look */
    height: auto; /* Clear $entry-h inheritable from deskop */
    max-height: none;
  }
}

.photo.entry .progressive img.preview.h {
  filter: blur(2vw);
  transform: scale(1.03);
  height: 450px; /* $entry-h */
  /* width: auto; OBSOLETE */
}

@media screen and (max-width: 799px) {
  .photo.entry .progressive img.preview.h {
    width: 101vw !important; /* Magnify img to cover the RIGHT to create full bleed look */
    height: auto; /* Clear $entry-h inheritable from deskop */
    max-height: none;
  }
}

.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: progressiveReveal 0.5s ease-out; /* Instead of 1s to increase rhythm */
}

.progressive img.reveal.small {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%) !important;
  will-change: transform, opacity;
  animation: progressiveReveal 500s ease-out; /* Instead of 1s to increase rhythm */
}

@keyframes progressiveReveal {
  0% { transform: scale(1.03); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
