---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <div class='c-intro'>
        <h1 class='c-post__title'>{{ site.title }}</h1>
        {% capture intro %}{% include intro.md %}{% endcapture %}
        {{ intro | markdownify }}
      </div>
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <div class='c-projects'>
        {% capture intro %}{% include projects.md %}{% endcapture %}
        {{ intro | markdownify }}
      </div>
    </div>

    {% include blog.html %}

    <div class='o-grid__col'>
      <div class='c-projects'>
        {% capture intro %}{% include fun.md %}{% endcapture %}
        {{ intro | markdownify }}
      </div>
    </div>
  </div>

  <!--- Skip for now
  <div class='o-grid'>
    {% include pagination.html %}
  </div>
  --->
</div>