<footer class='c-footer'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>

      <ul class='o-plain-list c-social-nav u-text-center'>
        <li class='c-social-nav__item'>
          <a href='https://twitter.com/{{ site.twitter.username }}' rel="noopener noreferrer" target='_blank' title='Twitter'>
            <span class='c-social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
          </a>
        </li>
        <li class='c-social-nav__item'>
          <a href='{{ site.linkedin }}' rel="noopener noreferrer" target='_blank' title='LinkedIn'>
            <span class='c-social-nav__icon' data-icon='ei-sc-linkedin' data-size='s'></span>
          </a>
        </li>
        <li class='c-social-nav__item'>
          <a href='{{ site.github }}' rel="noopener noreferrer" target='_blank' title='GitHub'>
            <span class='c-social-nav__icon' data-icon='ei-sc-github' data-size='s'></span>
          </a>
        </li>
        <li class='c-social-nav__item'>
          <a href='mailto:{{ site.email }}' title='E-mail'>
            <span class='c-social-nav__icon' data-icon='ei-envelope' data-size='s'></span>
          </a>
        </li>
      </ul>

      <div class="c-copyright">
        <script type="text/javascript" charset="utf-8">
          var d = new Date;
          var y = d.getFullYear();
          // if (document.documentElement.clientWidth /* screen.width */ >= 800) {
            // Avoid document.write for Lighthouse
            // document.write('<p>Copyright &copy;&nbsp;2010-' + y + '<br />Ka Hei Cheung<br />All rights reserved</p>');
            document.getElementsByClassName('c-copyright')[0].innerHTML += '<p>Copyright &copy;&nbsp;2010-' + y + '<br />Ka Hei Cheung<br />All rights reserved</p>';
          // } else {
          //  document.write('<p>Copyright &copy;&nbsp;2010-' + y + ' Ka Hei Cheung<br />All rights reserved</p>');
          // }
        </script>
      </div>

    </div>
  </div>
</footer>
