<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <!-- iA Writer Duospace
  <link href='https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Duospace/Webfonts/fonts.css' rel='stylesheet'>
  -->

  <!-- Space Mono -->
  <link href='https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap' rel='stylesheet'>

  <!-- Work Sans -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  
  <!--- Fetch site.tags on collect_tags.html --->
  {% if site.tags != "" %}
    {% include collect_tags.html %}
  {% endif %}

  <style>
    {% capture inlineCSS %}
      {% include app.scss %}
    {% endcapture %}

    {{ inlineCSS | scssify }}
  </style>
</head>