<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Hamburger menu -->
  <script src="{{ "/js/nav-responsive-min.js" | prepend: site.baseurl }}"></script>

  <!-- Inconsolata Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>

  <!-- Horizontal scroll on desktop -->
  <script type="text/javascript" charset="utf-8">
    if (document.documentElement.clientWidth /* screen.width */ >= 800 && navigator.platform != 'MacIntel') { 
        document.write('<script src="{{ "/js/h-scroll-min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"><\/script>');
      }
  </script>

  <!-- Table wrapper entry: horizontal on desktop, vertical on mobile -->
  <script type="text/javascript" charset="utf-8">
    if (document.documentElement.clientWidth /* screen.width */ >= 800) { 
      $(function(){
        $(".horizontal").wrapInner("<table><tr>");
        $(".entry").wrap("<td>");
      });
    } else {
      $(function(){
        $(".horizontal").wrapInner("<table>");
        $(".entry").wrap("<tr><td>");
      });
    }
  </script>

</head>
