/*------------------------------------*\
  Objects > Wrapper
\*------------------------------------*/

.o-wrapper {
  padding: $base-spacing-unit 0;   /* double($base-spacing-unit) 0 */
}

.content .o-wrapper, .content-photo .o-wrapper {
  /* iPHone notch */
  /*padding-left: max(0, env(safe-area-inset-left));
  padding-right: max(0, env(safe-area-inset-right));*/
  padding-left: env(safe-area-inset-left, 0);
  padding-right: env(safe-area-inset-right, 0);
  padding-bottom: env(safe-area-inset-bottom, $base-spacing-unit);
}

/**
 * Sticky footer
 */
.c-off-canvas-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .o-wrapper { flex: 1 0 auto; }
}