/**
 * Site header
 */
.site-header {
    /* Positioning context for the mobile navigation icon */
    position: relative;
}

#bar {
    background-color: $white;
    width: 200px;
    height: 100%;
    float: left;
    position: fixed;
    margin-left: 25px;
    padding: $spacing-unit * 0.5 10px 20px 20px; /* ATTENTION Ajustment with a.active in _base.scss upon changes! */
    opacity: 0.85;
    filter: alpha(opacity = 85);
    z-index: 1;
    color: $nav-text;
    visibility: hidden;

    .site-title {
      color: $nav-text;
      margin-bottom: $spacing-unit;
      font-size: $h-one;
      font-weight: normal;
    }
}

.nav-wrapper {
    /* copy of #bar */
    @extend #bar;
    background-color: transparent;
    margin-top: 56px; /* Space TOP from #bar .site-title */

    .navigation p {
        margin-top: $spacing-unit / 2;
        margin-bottom: 0;
    }

    ul, ol, dl {
        list-style: none;
        margin: 0;
    }

    .category {
        padding-left: 2px;
    }
}

/* MOBILE */
.icon {
    font-size: $base-font-size * 2;
    display: none;
    float: right;
    position: absolute;
    top: 10px;
    right: $spacing-unit;
}

@include media-query($on-palm) {
    #bar {
        /* padding-right: 55px - $spacing-unit * 2; OBSOLETE? */
        padding: 5px 0 10px 0; /* Keep (container of .site-title) and menu items aligned LEFT with .post-content; Spacing TOP and BOTTOM from page contents. */
        position: fixed; /* Keep #nav (container of .site-title) and .icon on top */
        opacity: 0.95;
        margin-left: 0;
        width: 100%; /* Keep #nav (container of .site-title) at top and push page contents below */
        height: auto;

        h1 {
            padding-left: 2.5%; /* Keep (container of .site-title) aligned with .post-content */
            z-index: 3;
        }

        .icon {
            z-index: 3;
        }
    }

    .nav-wrapper {
        margin-top: 0;
        padding: 0;
        visibility: hidden;
        z-index: -1;
    }

    .navigation a, .navigation p {
        position: relative; /* Keep page links ~~absolute~~ relative */
        font-size: $h-two;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .25s ease-in-out;
           -moz-transition: all .25s ease-in-out;
             -o-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
    }
    .navigation {
        margin-top: 60px; /* Cover the gap after header bar of .site-title */
        padding-top: 21px; /* Adjust for TOP distance for menu 1st item, compare to .post-title preload y-position */
        background-color: $white;
        height: 100vh;
        position: relative; /* Keep page links ~~absolute~~ relative */
        opacity: 0;
        visibility: hidden;
        overflow-y: scroll;
        -webkit-transition: all .25s ease-in-out;
           -moz-transition: all .25s ease-in-out;
             -o-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
    }
    a.icon {
        float: right;
        display: block;
    }

    /* WHEN OPEN MENU */
    .nav-wrapper.responsive {
        margin-top: 0;
        padding: 0;
        position: sticky;
        z-index: 2;
    }

    .navigation.responsive {
        margin-top: 71px; /* Cover the gap after header bar of .site-title */
        padding-top: 11px; /* Adjust for TOP distance for menu 1st item, compare to .post-title preload y-position */
        background-color: $white;
        height: 65vh;
        width: 100vw;
        float: none;
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
        text-align: left;
        padding-left: 2.5%; /* Instead of margin-left for background to cover the slit space */
        padding-bottom: 35vh; /* For space from the bottom on mobile */
        position: fixed;
        z-index: 2;
        -webkit-transition: all .25s ease-in-out;
           -moz-transition: all .25s ease-in-out;
             -o-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
    }
    .navigation.responsive a, .navigation.responsive p {
        position: relative;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .25s ease-in-out;
           -moz-transition: all .25s ease-in-out;
             -o-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
    }

    .navigation.responsive a.icon {
        position: absolute;
        right: 55px + $spacing-unit;
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit * 1.5 0;
    text-align: left;
    position: fixed;
    left: 48px;
    bottom: 0;
    z-index: 3;
    visibility: hidden;

    @include media-query($on-palm) {
        position: initial;
        z-index: 0;
        text-align: center;
        padding: $spacing-unit 0 $spacing-unit * 2 0;
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit * 0.65 0 0 0;
    visibility: hidden;

    @include media-query($on-palm) {
        padding-top: 0;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

}

.post-link {
    a, a:visited {
        color: $text-color;
    }
}

.post-caption {
    text-transform: uppercase;
    font-size: $small-font-size;
}


/**
 * Posts
 */
article {
    margin-left: 270px;
    /* max-height: $entry-h; */
}

.entry {
    max-width: $max-w;
    min-width: $entry-w;
    margin-right: $spacing-unit / 2;
    max-height: $entry-h;
}

.entry.wide {
    min-width: $entry-w * 1.4;
}

.entry.thin {
    min-width: $entry-w * 0.7; /* 0.7 instead of 0.8 for .image.entry of 3 images in a column */
}

.entry.blog {
    min-width: $entry-w * 1.4;
    max-width: $entry-w * 2.2;
    margin-left: $spacing-unit;
}

.post-header {
    /* padding: $spacing-unit 0; DEL */
    max-width: $entry-w;
}

.post-title {
    font-size: $h-one;

    @include media-query($on-laptop) {
        font-size: $h-one;
    }
}

.post-info {
    .project-caption {
        font-size: $h-three;
        font-weight: bold;
        margin-bottom: 0;
        color: $text-color; /* Overriding $h-color in _base.scss; !important */ 
    }

    .project-date {
        font-size: $base-font-size;
        margin-bottom: $spacing-unit /2;
    }

    .project-intro {
        font-size: $base-font-size;
        margin-bottom: $spacing-unit /2
    }

    .project-extras {
        font-size: $base-font-size;
        margin-bottom: $spacing-unit /2
    }

    @include media-query($on-palm) {
        margin-right: 4%;
        font-size: 16px;
    }
}

.post-content {
    h1 {
        font-size: $h-one;

        @include media-query($on-laptop) {
            font-size: $h-one;
        }
    }

    h2 {
        font-size: $h-two;
        padding-top: 3px; /* Keep verticle rhythm on About page with name in h1 */

        @include media-query($on-laptop) {
            font-size: $h-two;
            padding-top: $spacing-unit;
        }
    }

    h3 {
        font-size: $h-three;

        @include media-query($on-laptop) {
            font-size: $h-three;
        }
    }

    h4 {
        font-size: $h-four;

        @include media-query($on-laptop) {
            font-size: $h-four;
        }
    }

    .divider {
        text-align: center;
    }

    .image.entry img, .image.entry iframe {
        max-height: $entry-h;
        vertical-align: top; /* For sticking inline img to top; !important */
    }

    .entry.blog figure {
        text-align: center;

        img {
            max-width: $entry-w * 2;
        }
    }

    .image.entry figure p, .entry.blog figure p {
        margin-bottom: $spacing-unit / 3;
    }

    .photo.entry, .entry.blog {
        margin-right: $spacing-unit / 3;

        img {
            height: $photo-h;
            width: auto;

            @include media-query($on-palm) {
                height: auto;
            }
        }
    }

    div.entry.blog > *:last-child {
        padding-bottom: $spacing-unit * 2;
    }
}

@include media-query($on-palm) {
    article {
        margin-left: 0;
        padding-top: 66px; /* Vertical margin for #nav (container of .site-title) */
        position: sticky;
        z-index: 0;
    }

    .post-clean {
        padding-top: 66px;
    }

    .entry, .entry.wide, .entry.thin, .entry.blog {
        margin-bottom: $spacing-unit;
        min-width: $entry-w;
        height: auto;
        margin-right: 7%; /* Instead of 4% to give more space on the RIGHT to the paragraph */
        padding-left: 2%;
        max-height: none;
    }

    .post-content .image.entry {
        padding-left: 0;
        margin-right: 0 !important;
    }

    .post-content .image.entry img, .post-content .image.entry iframe {
        max-height: none;
        margin-right: 0;
        max-width: 101vw; /* Instead of 100% to shrink the img within vw */
    }

    .post-content .entry.blog img, .post-content .entry.blog iframe, .post-content .entry.blog figure img, .post-content .entry.blog figure frame {
        max-height: none;
        margin-right: 0;
        max-width: 101vw; /* Instead of 100% to shrink the img within vw */
    }

    .post-content .image.entry iframe {
        margin-left: -1.5%;
    }

    .post-content .photo.entry {
        padding-left: 0;
        margin-right: 0 !important;
        margin-bottom: 0;
    }

    .post-content .photo.entry img {
        max-height: none;
        margin-right: 0;
        max-width: 101vw;
        /* max-width: 103%; /* Magnify img to cover the RIGHT to create full bleed look */
        /* margin-left: -1.5%; /* Remove the LEFT table wrapper inner borderto create full bleed look */
    }

    #tintoretto {
        text-align: center;
        background: $grey-color-light;
        max-width: 101vw; /* Magnify img to cover the RIGHT to create full bleed look */
        margin-left: -1.5%; /* Remove the LEFT table wrapper inner borderto create full bleed look */
        padding: $spacing-unit 0 $spacing-unit 0;

        figure {
            margin-bottom: 0;
        }
    }

    .buffer {
        padding-left: $spacing-unit * 2 !important;
        padding-right: $spacing-unit * 2 !important;
    }

    #homepage {
        text-align: center;
    }

    /* GIPHY width on mobile */
    .giphy-embed {
        width: 101vw !important;
    }
}

/**
 * Styling in posts
 */
.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

strong {
    background-color: $yellow;
    padding: 2px;
    font-weight: bold;
}

.entry a {
    color: blue;
    border-color: $yellow;
    border: 2px;
    border-style: solid;
    padding: 2px;
    text-decoration: none;
    background-color: transparent;

    &:visited {
        color: lightskyblue;

        &:hover {
            background: lightskyblue;
            color: $white;
        }
    }

    &:hover {
        background: blue;
        color: $white;
    }

    > strong {
        padding: 0;
        background-color: transparent;
    }
}

.entry a.source {
    color: $brand-color;
    border: none;
    text-decoration: none;
    padding: 2px;

    &:visited {
        color: $brand-color;
    }

    &:hover {
      background: $hover-color;
      color: $white;
      -webkit-transition: all .25s ease-in-out;
         -moz-transition: all .25s ease-in-out;
           -o-transition: all .25s ease-in-out;
      -webkit-transition: all .25s ease-in-out;
              transition: all .25s ease-in-out;
    }
}

em {
    /* text-emphasis-style: '*'; */
    color: $yellow;
    font-style: normal;
    font-weight: bold;
}

/* Spinning motion in Sardine 17 */
#sardine-17:hover {
    display: inline-block;
    z-index: 4;
    -webkit-animation: spinn 3.25s ease-in-out;
    animation: spinn 3.25s ease-in-out;
}

@-webkit-keyframes spinn {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(1800deg); }
}

@keyframes spinn {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(1800deg); }
}
/* END Spinning */