// *----------------------------------*\
//  Settings > Breakpoints
// *----------------------------------*/

// Breakpoints configs for SassMQ
//
// Example usage:
//
// @include mq($from: tablet) {}

$mq-breakpoints: (
  mobile:  320px,
  tablet:  640px,
  desktop: 860px,  /*1024px*/
  HD:      1100px, /*1280px*/
);