// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #FFCA0C;
$color-brand-highlight: #FFCA0C59;   /* transparency 35% */
$color-white: #FFFFFF;
$color-text:  #323232;
$color-gray:  #2B5F72;
$color-rb:    #0B5C98;
$color-lg:    #B0B0B0;

// Background Colors
$bg-color-white:     $color-white;
$bg-color-dark:      #222228;
$bg-color-gray:      #FAFAFA;
$bg-color-mid-gray:  #E6E6E6;

// Border
$color-border: #E9EFF3;

// Links
$color-link:          #FFCA0C;
$color-link-hover:    blue;
$color-invalid-link:  #505050;