/*------------------------------------*\
  Components > Flex Page
\*------------------------------------*/

.flex-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.c-footer {
  flex-shrink: 0;
}