/*------------------------------------*\
  Elements > Marquee
\*------------------------------------*/

.marquee {

//height: 80px;
//margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
//font-family: 'Space Mono', monospace;

  @include mq($from: HD) {
    &.about {
      max-width: 75%;   /* Temporary solution to publish Space Grotesk re-layout until a better page layout for About */
    }
  }

  &--content{
    display: inline-block;
    margin-top: 5px;
    animation: marquee linear infinite;

  }

  /* Hide marquee text layer below Draggable; as marquee.js changes the animation (transform) property and resets stacking context order */
  position: relative;
  z-index: -1;

  /* Overwrite normal h4{display: block;} */
  span {
    display: inline;
    color: $color-text;
    font-size: $font-size-h4;
    font-family: $font-heading;
  }
}

.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap linear infinite;
}

@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}