/*------------------------------------*\
  Components > Post Card
\*------------------------------------*/

.c-post-card {
  display: block;
  //padding: double($base-spacing-unit) 0;
  padding: 0 0 double($base-spacing-unit) 0;
  word-break: break-word;
  //border-bottom: 1px solid $color-border;

  &--first {
    padding-top: 0;
  }

  &--last {
    //padding-bottom: 0;
    border-bottom: 0;
  }

  @include mq($from: desktop) {
    padding: 0 0 double($base-spacing-unit) 0;
  }

  &__title {
    margin-bottom: half($font-size-base);
    font-size: $font-size-base;
    //font-weight: $font-weight-bold;
    //transition: $global-transition;   /* Remvoe delay is mouse hover leave, because a:hover already covers it */

    @include mq($until: desktop) {
      font-size: $font-size-base-tb;
      //line-height: $line-height-small-tb;
    }

    @include mq($until: tablet) {
      font-size: $font-size-base-mb;
      //line-height: $line-height-small-mb;
    }
  }

  &__excerpt {
    font-size: $font-size-small;
    color: $color-text;
    line-height: $line-height-small;
    margin-bottom: $font-size-small;

    @include mq($until: desktop) {
      font-size: $font-size-small-tb;
      line-height: $line-height-small-tb;
      margin-bottom: $font-size-small-tb;
    }

    @include mq($until: tablet) {
      font-size: $font-size-small-mb;
      line-height: $line-height-small-mb;
      margin-bottom: $font-size-small-mb;
    }
  }

  &__date {
    display: block;
    color: $color-lg;
    direction: ltr;
    font-size: $font-size-tiny;
    //font-weight: $font-weight-bold;
    line-height: $line-height-tiny;
 /* text-transform: uppercase; */

    @include mq($until: desktop) {
      font-size: $font-size-tiny-tb;
      line-height: $line-height-tiny-tb;
    }

    @include mq($until: tablet) {
      font-size: $font-size-tiny-mb;
      line-height: $line-height-tiny-mb;
    }

  }

  /* Spare post-card lead and date from hover active area
  @include attention() {
    color: $color-text;

    .c-post-card__title {
      color: $color-link-hover;
    }
  }
  */
}

.tag-card {
  margin-bottom: double($base-spacing-unit);

  @include mq($until: desktop) {
    margin-bottom: $base-spacing-unit;
  }
}