/*------------------------------------*\
  Components > Progress Bar (Scroll Indicator)
\*------------------------------------*/

.c-progress-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 5px;
  background: $color-brand;
  width: 0%;

  @include mq($until: tablet) {
    height: 3px;
  }
}