/*------------------------------------*\
  Components > Tags
\*------------------------------------*/

.c-tags {
  a {
    display: inline-block;
    padding: quarter($base-spacing-unit) $base-spacing-unit;
    margin: 0 half($base-spacing-unit) quarter($base-spacing-unit) 0;

    font-size: 0.8em;
    font-family: $font-heading;
    line-height: $line-height-medium;

    background-color: $bg-color-gray;
    transition: $global-transition;

    @include attention() {
      text-decoration: none;
      background-color: $bg-color-gray;
    }

/*    @include mq($until: desktop) {
      font-size: $font-size-small-tb;
    }

    @include mq($until: tablet) {
      font-size: $font-size-small-mb;
    }*/
  }

  margin-top: $line-height-medium;
  // margin-bottom: $line-height-medium + half(quarter($line-height-medium));

  @include mq($until: tablet) {
    margin-top: $line-height-medium;
    margin-bottom: $line-height-medium + half(quarter($line-height-medium));
  }
}