---
layout: default-vertical
---
<article class="post blog">

  <header class="post-header entry-blog">

    <h1 class="post-title">{{ page.title }}</h1>
    
    <div class="post-info">
      <p class="project-caption">{{ page.caption }}</p>
      <p class="project-date">{{ page.projdate }}, {{ page.type }}</p>
      <p class="project-description">{{ page.description }}</p>
      <p class="project-extras">{{ page.extras }}</p>
    </div>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>